<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Courses</title>

   <!-- Font Awesome CDN link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

   <!-- Custom CSS file link  -->
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('components/user_header.ejs'); %>

<!-- Courses section starts  -->
<section class="courses">
   <h1 class="heading">Search Results</h1>
   <div class="box-container">
      <% if (courses.length > 0) { %>
         <% courses.forEach(course => { %>
            <div class="box">
               <div class="tutor">
                  <img src="/uploaded_files/<%= course.tutorImage %>" alt="">
                  <div>
                     <h3><%= course.tutorName %></h3>
                     <span><%= course.date %></span>
                  </div>
               </div>
               <img src="/uploaded_files/<%= course.thumb %>" class="thumb" alt="">
               <h3 class="title"><%= course.title %></h3>
               <a href="/playlist?get_id=<%= course.id %>" class="inline-btn">View Playlist</a>
            </div>
         <% }) %>
      <% } else { %>
         <p class="empty"><%= message %></p>
      <% } %>
   </div>
</section>
<!-- Courses section ends -->

<%- include('components/footer.ejs'); %>

<!-- Custom JS file link  -->
<script src="/js/script.js"></script>
</body>
</html>
