<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   <link rel="stylesheet" href="/css/admin_style.css">
</head>
<body>

<%- include('../views/components/admin_header') %>

<section class="comments">
   <h1 class="heading">User Comments</h1>
   
   <div class="show-comments">
      <% if (comments && comments.length > 0) { %>
         <% comments.forEach(comment => { %>
            <div class="box" style="<%= comment.tutor_id === tutor_id ? 'order:-1;' : '' %>">
               <div class="content">
                  <span><%= comment.date %></span>
                  <p> - <%= comment.content_title %> - </p>
                  <a href="/view_content/<%= comment.content_id %>">view content</a>
               </div>
               <p class="text"><%= comment.comment %></p>
               <form action="/delete_comment" method="post">
                  <input type="hidden" name="comment_id" value="<%= comment.id %>">
                  <button type="submit" class="inline-delete-btn" onclick="return confirm('Delete this comment?');">delete comment</button>
               </form>
            </div>
         <% }) %>
      <% } else { %>
         <p class="empty">No comments added yet!</p>
      <% } %>
   </div>
</section>

<%- include('../views/components/footer') %>
<script src="/js/admin_script.js"></script>
</body>
</html>
