<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Playlists</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   <link rel="stylesheet" href="/css/admin_style.css">
</head>
<body>

   <%- include('../../views/components/admin_header', { message: message, profile: profile }); %>

<section class="playlists">
   <h1 class="heading">Added Playlists</h1>

   <div class="box-container">
      <div class="box" style="text-align: center;">
         <h3 class="title" style="margin-bottom: .5rem;">Create New Playlist</h3>
         <a href="/admin/add-playlist" class="btn">Add Playlist</a>
      </div>

      <% if (playlists && playlists.length > 0) { %>
         <% playlists.forEach(playlist => { %>
            <div class="box">
               <div class="flex">
                  <div>
                     <i class="fas fa-circle-dot" style="color: <%= playlist.status === 'active' ? 'limegreen' : 'red' %>;"></i>
                     <span style="color: <%= playlist.status === 'active' ? 'limegreen' : 'red' %>;"><%= playlist.status %></span>
                  </div>
                  <div>
                     <i class="fas fa-calendar"></i><span><%= playlist.date %></span>
                  </div>
               </div>
               <div class="thumb">
                  <span><%= playlist.videoCount %></span>
                  <img src="/uploaded_files/<%= playlist.thumb %>" alt="">
               </div>
               <h3 class="title"><%= playlist.title %></h3>
               <p class="description"><%= playlist.description.length > 100 ? playlist.description.slice(0, 100) + '...' : playlist.description %></p>
               <form action="/delete_playlist" method="post" class="flex-btn">
                  <input type="hidden" name="playlist_id" value="<%= playlist.id %>">
                  <a href="/update_playlist?get_id=<%= playlist.id %>" class="option-btn">Update</a>
                  <input type="submit" value="Delete" class="delete-btn" onclick="return confirm('Delete this playlist?');" name="delete">
               </form>
               <a href="/view_playlist?get_id=<%= playlist.id %>" class="btn">View Playlist</a>
            </div>
         <% }) %>
      <% } else { %>
         <p class="empty">No playlist added yet!</p>
      <% } %>
   </div>
</section>

<%- include('../../views/components/footer'); %>

<script src="/js/admin_script.js"></script>
</body>
</html>
