<%- include('../views/components/admin_header.ejs') %>

<section class="playlist-details">
   <h1 class="heading">playlist details</h1>

   <% if (playlist) { %>
      <div class="row">
         <div class="thumb">
            <span><%= playlist.totalVideos %></span>
            <img src="../uploaded_files/<%= playlist.thumb %>" alt="">
         </div>
         <div class="details">
            <h3 class="title"><%= playlist.title %></h3>
            <div class="date"><i class="fas fa-calendar"></i><span><%= playlist.date %></span></div>
            <div class="description"><%= playlist.description %></div>
            <form action="" method="post" class="flex-btn">
               <input type="hidden" name="playlist_id" value="<%= playlist.id %>">
               <a href="update_playlist.ejs?get_id=<%= playlist.id %>" class="option-btn">update playlist</a>
               <input type="submit" value="delete playlist" class="delete-btn" onclick="return confirm('delete this playlist?');" name="delete">
            </form>
         </div>
      </div>
   <% } else { %>
      <p class="empty">no playlist found!</p>
   <% } %>
</section>

<section class="contents">
   <h1 class="heading">playlist videos</h1>

   <div class="box-container">
      <% if (videos.length > 0) { %>
         <% videos.forEach(function(video) { %>
            <div class="box">
               <div class="flex">
                  <div>
                     <i class="fas fa-dot-circle" style="<%= video.status === 'active' ? 'color:limegreen' : 'color:red' %>"></i>
                     <span style="<%= video.status === 'active' ? 'color:limegreen' : 'color:red' %>"><%= video.status %></span>
                  </div>
                  <div><i class="fas fa-calendar"></i><span><%= video.date %></span></div>
               </div>
               <img src="../uploaded_files/<%= video.thumb %>" class="thumb" alt="">
               <h3 class="title"><%= video.title %></h3>
               <form action="" method="post" class="flex-btn">
                  <input type="hidden" name="video_id" value="<%= video.id %>">
                  <a href="update_content.ejs?get_id=<%= video.id %>" class="option-btn">update</a>
                  <input type="submit" value="delete" class="delete-btn" onclick="return confirm('delete this video?');" name="delete_video">
               </form>
               <a href="view_content.ejs?get_id=<%= video.id %>" class="btn">watch video</a>
            </div>
         <% }) %>
      <% } else { %>
         <p class="empty">no videos added yet! <a href="add_content.ejs" class="btn" style="margin-top: 1.5rem;">add videos</a></p>
      <% } %>
   </div>
</section>

<%- include('../views/components/footer.ejs') %>
<script src="../js/admin_script.js"></script>
